<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appbanhang"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name="com.user.appbanhang.activity.SlapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.user.appbanhang.activity.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.XemdonActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.DangNhapActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.user.appbanhang.activity.DangKiActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.GioHangActivity"
            android:exported="false"
            android:label="@string/title_activity_gio_hang"
            android:theme="@style/Theme.Appbanhang" />
        <activity
            android:name="com.user.appbanhang.activity.ChitietActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.LapTopActivity"
            android:exported="false" />
        <activity
            android:name="com.user.appbanhang.activity.DienThoaiactivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name="com.user.appbanhang.activity.QuanLiActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name="com.user.appbanhang.activity.ThemActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.user.appbanhang.activity.MainActivity"
            android:exported="true" />
        <service android:name=".Service.FirebaseMessgaeReciver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>